@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    /* usar paleta de cores monocromática - mais fraca... */
    --cor1: #0a0a11;
    --cor2: #232328;
    --cor3: #3b3b40;
    --cor4: #535358;
    --cor5: #87878842;
    --cor6: #bdbdbd2f;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
}
/* usar menos !important (forma forçada e invasiva de declarar estilo) */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 700px;
    max-height: 500px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 3px 33px -4px rgba(0,0,0,1);
}

#first, #second, #third {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blocosPrincipais {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    background-color: var(--cor6);
    box-shadow: var(--box-shadow);
}

.blocosPrincipais p {
    align-self: flex-start;
    font-family: monospace;
    font-weight: bolder;
}

.blocosPrincipais h1 {
    align-self: flex-end;
    margin-top: auto;
}

#second {
    margin-top: 20px;
}

#third {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

input, button {
    width: 200px;
    padding: 8px;
    border: 1px solid black;
    outline: none;
}

button#botao {
    font-weight: bolder;
    font-size: 1em;
    border: 1px solid black;
}

button#botao:hover {
    transition: .5s;
    background-color: var(--cor4);
    cursor: pointer;
    color: #fff;
    box-shadow: none;
}

/* fourth and last */
#fourth {
    width: 100%;
    display: flex;
    padding: 20px 0px;
    text-align: center;
}

/* #primeiraTabela {
    width: 30%;
}

#segundaTabela {
    width: 70%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

table {
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
}

tr, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgba(155, 155, 155, 0.425);
}

.btn-check {
    width: 100px;
} */

#pagas {
    width: 30%;
    padding: 5px;
}

#aPagar {
    width: 70%;
    border-left: 1px solid grey;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
}

.item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
}

.item-2:nth-child(odd) {
    background-color: var(--cor5);
}

.item:nth-child(odd) {
    background-color: rgba(96, 223, 96, 0.199);
}

.item {
    height: 30px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .fonte, .montante, .transacao {
    display: flex;
    justify-content: space-between;
} */

.btn-check {
    width: 30px;
    /* border: 1px solid red; */
    font-size: 1.4em;
}

.btn-check:hover {
    transition: .5s;
    color: var(--cor4);
    cursor: pointer;
    color: darkgreen;
    box-shadow: none;
}